
:root {
    --main-back-color: #27293d;
    --main-fore-color: #cbcbcb;
    
    --card-bg-color: #212233;
    --card-bg-color-hover: #1b1c2c;

    --card-shadow-color: #393B59;
    --card-shadow-color-hover: #393B59;
}

.suffix { color: #999999; }
.deep { color: #008fc5; }
.smitten { color: #BD4BBF; }
.dawn { color: #F28749; }
.moola { color: #227791; }

