  
  html {
    background-color: var(--main-back-color);
    color: var(--main-fore-color);
  }

  body {
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    min-height: 0px;
    height: auto;
    text-align: center;
  }

  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  * {
    box-sizing: border-box;
  }   

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
  }

  div.card {
    margin: 10px;
    padding: 25px;
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 8px 0 var(--card-shadow-color);
    transition: 0.3s;
    width: 400px;
    border-radius: 5px;
  }
  
  div.card:hover {
    background-color: var(--card-bg-color-hover);
    box-shadow: 0 8px 16px 0 var(--card-shadow-color-hover);
    cursor: pointer;
  }
  
  a.card,
  a.card:hover {
    color: inherit;
    text-decoration: none;
  }

  .container {
    padding: 2px 16px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-back-color);
    color: white;
    text-align: center;
 }
